<mat-card>
  <h1>Add Post</h1>
  <form #addPost="ngForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
      <div>
        <mat-form-field>

          <input matInput placeholder="title" [(ngModel)]="title" name="title" required #spy #temp="ngModel">
          <mat-error *ngIf="!(temp.valid || temp.pristine)">
            Title is required
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>

          <textarea matInput placeholder="body" [(ngModel)]="body" name="body" required #spy #temp2="ngModel">
          <mat-error *ngIf="!(temp2.valid || temp2.pristine)">
            body is required
          </mat-error>
          </textarea>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>

          <input matInput placeholder="Author" [(ngModel)]="author" name="author" required #spy #temp3="ngModel">
          <mat-error *ngIf="!(temp3.valid || temp3.pristine)">
            Author is required


          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" [disabled]="!addPost.form.valid">{{buttonText}}</button>
      </div>
    </div>

  </form>
</mat-card>