<h1>Edit Author</h1>
<form #authorForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="row">
            <mat-form-field>
                <input matInput [(ngModel)]="authorEdit" #authorName type="text" name="nameOfAuthor" required>
                <!-- <mat-error *ngIf="!(authorName.invalid)">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
        </div>
        <div class="row">
            <hr>
            <button mat-raised-button color="primary">Submit</button>
        </div>
    </div>
</form>