<form #signupForm="ngForm" (ngSubmit)=signup()><div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Username" [(ngModel)] = "username" name = "username" type = "email" required>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Password" [(ngModel)] = "password" name = "password" type = "password" required>
    </mat-form-field>
    <button mat-raised-button color="primary">Sigh Up</button>
  </div>
</form>
