<mat-card>
    <h1>{{headerText}}</h1>
    <form #addBook="ngForm" (ngSubmit)="onSubmit()">
        <div class="example-container">
            <div>
                <mat-form-field>
                    <input matInput placeholder="title" [(ngModel)]="title" name="title" required #spy #temp="ngModel">
                    <mat-error *ngIf="!(temp.valid || temp.pristine)">
                        Title is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Author" [(ngModel)]="author" name="author" required #spy
                        #temp3="ngModel">
                    <mat-error *ngIf="!(temp3.valid || temp3.pristine)">
                        Author is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" [disabled]="!addBook.form.valid">{{buttonText}}</button>
            </div>
        </div>

    </form>
</mat-card>