<p *ngIf="!(Posts$ | async)"> loading posts...</p>
<mat-accordion>
  <div class="example-button-row">
    <button mat-raised-button color="primary" routerLink="/addPost">
      ADD POST
    </button>
  </div>
  <mat-expansion-panel *ngFor="let post of Posts$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{post.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{post.body}}
    <p>Author name: {{post.userName}} </p>
    <button mat-raised-button color="primary" (click)=deletePost(post.id)>Delete</button>

    <button mat-raised-button color="primary" [routerLink]="'/addPost/'+post.id">
      Update
    </button>
  </mat-expansion-panel>
</mat-accordion>