<div *ngIf = "!(authors$ | async)"><h1>Loading...</h1></div>
<mat-selection-list #numOfAuthors>
    <mat-list-option *ngFor="let authorl of authors$ | async">
      {{authorl.author}}
      <!-- <button>
        <a mat-list-item routerLink="/editauthor/{{authorl.id}}" routerLinkActive="active">edit</a>
      </button> -->
    </mat-list-option>
  </mat-selection-list>

  <p *ngIf ="numOfAuthors.selectedOptions.selected.length !== 0"> 
    Options selected: {{numOfAuthors.selectedOptions.selected.length}}</p>
    <button class="btn btn-primary"> Add author</button>
  <!-- <mat-card>
    <h4>New Author</h4>
    <form #tempForm="ngForm" (ngSubmit)="add()">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="author name" [(ngModel)] = "newauthor"
                           name = "newauthor"
                           required #spy
                           #temp = "ngModel">
          <mat-error *ngIf="!(temp.valid || temp.pristine)">
            Author is required
          </mat-error>                        
        </mat-form-field>
    
        
        <div >
            <button mat-raised-button color="primary" [disabled]="!tempForm.form.valid">Add Author</button>
        </div>
      </div>
    </form>
    </mat-card> -->